.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.cont {
    margin: 40px 0 20px 0;
    width: 1200px;
    display: flex;
    height: 100%;
}
