.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #463a3a;
    padding: 0 50px;
    // .header_container {

    // }
}
